@font-face {
	font-family: JetBrains Mono;
	src: url('../src/fonts/JetBrainsMono-Regular.ttf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: JetBrains Mono;
}

body {
	background-image: linear-gradient(
		to left bottom,
		#2da5da,
		#579be8,
		#8e8be7,
		#c175d4,
		#e75caf,
		#eb4b9f,
		#ee378e,
		#ef1c7b,
		#e0008a,
		#cb0099,
		#af00aa,
		#8900b9
	);
}

a {
	text-decoration: none;
	color: #ffff;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 7vh;
	/* background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px); */
}

header a {
	font-size: 2.8rem;
	color: rgba(255, 255, 255, 0.55);
	margin-right: 15px;
}

.sidebar {
	position: absolute;
	top: 0;
	width: 60%;
	height: 100vh;
	left: -60%;
	background: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(5px);
	transition: 0.4s;
	z-index: 1000;
}

.sidebar hr {
	border-top: 1px solid rgba(255, 255, 255, 0);
	border-bottom: none;
	backdrop-filter: blur(20px);
}

.change-color-container {
	width: 100%;
	height: 30%;
}

.operations-container {
	width: 100%;
	height: 50%;
	overflow-y: scroll;
}
.operations-container::-webkit-scrollbar {
	display: none;
}

.clear-operations {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 40px;
	visibility: hidden;
}

.clear-operations i {
	padding: 20px;
	font-size: 2rem;
	color: #fdfdfd;
	text-shadow: 0 0 2px rgb(167, 167, 167);
	cursor: pointer;
}

.operations {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.trash-visible {
	visibility: visible;
}

.operations p {
	font-size: 2.5rem;
	padding: 10px 0;
	color: #fff;
	text-shadow: 0 0 1px rgb(158, 158, 158);
	text-align: center;
}

.sidebar-open {
	left: 0;
	transition: 0.4s;
}

.main-container {
	display: flex;
	width: auto;
	min-height: 600px;
	min-height: 100vh;
	padding-top: 15vh;
}

.calculator-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.calculator {
	display: grid;
	grid-template-columns: repeat(4, minmax(auto, 80px));
	grid-template-rows: 70px repeat(5, 80px);
	gap: 10px;
	height: 60vh;
	margin: 0 auto;
}
.screen::-webkit-scrollbar {
	display: none;
}
.screen {
	position: relative;
	grid-column: 1/-1;
	overflow-x: scroll;
}

.screen::-webkit-scrollbar {
	display: none;
}

.screen p {
	font-size: 6rem;
	color: #ffffff;
}

.small-text {
	font-size: 2.2rem;
}

.operation-color {
	font-weight: 400;
	font-size: 4.8rem;
	padding: 0 10px;
	color: #ffffff;
}

.btn {
	border: none;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(20px);
	border-radius: 4px;
	color: #ffffff;
	font-size: 2.3rem;
	box-shadow: 0 0 2px 0 #ffff;
}

.btn:active {
	box-shadow: 0px 0 2px 1px rgba(255, 255, 255, 0.7);
}

.btn-0 {
	grid-column: 1/3;
}

.btn-ac {
	grid-column: 1/3;
}

@media (min-width: 768px) {
	header {
		display: none;
	}

	.calculator {
		margin: 0;
		margin-left: 40%;
	}

	.sidebar {
		left: 0;
		width: 30%;
		height: 100vh;
	}
}
@media (min-width: 1024px) {
	.calculator-container {
		width: 50%;
		margin: 0 auto;
	}
}
@media (min-width: 1300px) {
	.calculator {
		grid-template-columns: repeat(4, minmax(auto, 100px));
		grid-template-rows: 70px repeat(5, 100px);
	}
}
